<section class="mt-3 mb-5">
  <form [formGroup]="formGroup">
    <div class="flex flex-column gap-2 w-full">
      <label class="flex flex-column gap-2 w-full">
        Descripción
        <textarea
          pInputTextarea
          rows="5"
          cols="40"
          formControlName="description"
          [autoResize]="true"
          (input)="errorsUpdate('description')"
          (blur)="errorsUpdate('description')"
        ></textarea>
      </label>
      <small class="p-error">{{ errors.description }}</small>
    </div>
    <div class="flex flex-column gap-2 pt-4 w-full">
      <label class="flex flex-column gap-2 w-full">
        Link externo (opcional)
        <input
          pInputText
          name="externalLink"
          class="w-full"
          type="text"
          formControlName="externalLink"
          (input)="errorsUpdate('externalLink')"
          (blur)="errorsUpdate('externalLink')"
        />
      </label>
      <small class="p-error">{{ errors.externalLink }}</small>
    </div>
    <h1 class="text-color-secondary text-xl">
      Selecciona el documento a subir
    </h1>
    <p-fileUpload
      (onRemove)="onRemove()"
      (onSelect)="onSelect($event)"
      [multiple]="false"
      accept="image/*"
      maxFileSize="1000000"
      chooseLabel="Seleccionar"
      showCancelButton="false"
      showUploadButton="false"
      formControlName="fileLink"
      (input)="errorsUpdate('fileLink')"
      (blur)="errorsUpdate('fileLink')"
      ngDefaultControl
    >
      <ng-template pTemplate="content">
        <!-- @if(uploadFiles.length !== 0){
                <ul>
                  <li>
                    {{uploadFiles[0].name}} - {{uploadFiles[0].size}}
                  </li>
                </ul>
              } -->
      </ng-template>
    </p-fileUpload>
    <small class="p-error">{{ errors.fileLink }}</small>
  </form>
</section>
