/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';

:root {
  --ucab-yellow-hex: #fbc430;
  --ucab-blue-hex: #37b4e3;
  --ucab-green-hex: #007935;
  --background-color: #f7ffe6;
  --text-color-secondary: #373737;
  --primary-color: #00ad7c;
  --primary-color-text: #fff;
  font-family:
    'Inter var',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

body {
  min-height: 100dvh;
  padding: 0px;
  margin: 0px;
  background-color: var(--background-color);
}

.p-toast-message {
  border: 1px solid;
}

.p-toast-detail {
  color: black;
  font-weight: 300;
}

.p-button-label {
  font-weight: 500;
}

/* Remove the default style of showing error border in PrimeNG text type input */
.p-inputtext.ng-dirty.ng-invalid {
  border-color: unset;
}

/* Set our style (when input is touched, dirty and invalid) to show error border in PrimeNG text input. */
.p-inputtext.ng-dirty.ng-touched.ng-invalid {
  border-color: #e24c4c;
}

/* Set our style to show correct border in PrimeNG text input type */
.p-inputtext.ng-valid {
  border-color: var(--blue-500);
}

p-password.ng-invalid.ng-dirty > .p-password > .p-inputtext {
  border-color: unset;
}

p-password.ng-invalid.ng-touched.ng-dirty > .p-password > .p-inputtext {
  border-color: #e24c4c;
}

p-password.ng-valid > .p-password > .p-inputtext {
  border-color: var(--blue-500);
}
.p-panel .p-panel-header {
  background: var(--background-color);
  border: none;
  padding: 0;
}
.p-panel .p-panel-content {
  background: var(--background-color);
  border: none;
}

.p-panel-header {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.p-panel .p-panel-content {
  padding: 0;
  padding-left: 2.5rem;
}
.p-fileupload .p-fileupload-buttonbar .p-button {
  background: var(--primary-color);
  border: var(--primary-color);
}
.p-button.p-button-icon-only {
  background: var(--primary-color);
  border: var(--primary-color);
}
.p-fieldset {
  background: var(--background-color);
  border-radius: 4px;
}
.p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
  background: #fafff9;
  color: #374151;
  border-radius: 6px;
  transition: box-shadow 0.2s;
}
