<section class="w-full">
  <div
    class="flex flex-row justify-content-between align-items-center gap-6 pb-4 w-full"
  >
    <h2 class="text-color-secondary flex-1">
      Subida de archivos para {{ this.indicatorName }} / {{ this.categoryName }}
    </h2>
    <p-button
      styleClass="bg-primary border-primary mr-4 flex-none"
      (onClick)="visibleCreate = true"
      label="Agregar Colección"
      icon="pi pi-plus"
      size="small"
    />
  </div>
  @for (
    informationCollection of informationCollections;
    track informationCollection.id;
    let idx = $index
  ) {
    <p-panel
      expandIcon="pi pi-chevron-down"
      collapseIcon="pi pi-chevron-right"
      [toggleable]="true"
      collapsed="true"
      iconPos="start"
    >
      <ng-template pTemplate="header">
        <section
          class="flex flex-row justify-content-between align-items-center w-full gap-4"
        >
          <h2 style="word-break: break-word" class="text-xl">
            Colección de información {{ idx + 1 }}
          </h2>
          <div class="flex flex-row gap-1 flex-nowrap">
            <button class="p-panel-header-icon p-link mr-2">
              <span
                class="pi pi-pencil"
                style="
                  color: #22c55e;
                  border: solid 1.5px #22c55e;
                  border-radius: 100%;
                  padding: 7px;
                "
              ></span>
            </button>
            <button class="p-panel-header-icon p-link mr-2">
              <span
                class="pi pi-trash"
                style="
                  color: #ef4444;
                  border: solid 1.5px #ef4444;
                  border-radius: 100%;
                  padding: 7px;
                "
              ></span>
            </button>
          </div>
        </section>
      </ng-template>
    </p-panel>
  }
  <p-dialog
    header="Crear Colección de información"
    [modal]="true"
    [(visible)]="visibleCreate"
    [draggable]="false"
    [resizable]="false"
    [style]="{ width: '30rem' }"
    (onHide)="closeDialog()"
  >
    <form [formGroup]="formGroup">
      <div class="flex flex-column gap-3">
        <div class="flex flex-column gap-2 w-full">
          <label class="flex flex-column gap-2 w-full">
            Descripción
            <textarea
              pInputTextarea
              rows="5"
              cols="40"
              formControlName="summary"
              (input)="errorsUpdate('summary')"
              (blur)="errorsUpdate('summary')"
            ></textarea>
          </label>
          <small class="p-error">{{ errors.summary }}</small>
        </div>
      </div>
      <footer class="flex justify-content-end gap-2 mt-4">
        <p-button
          label="Cancelar"
          size="small"
          icon="pi pi-times"
          [outlined]="true"
          severity="danger"
          (click)="visibleCreate = false"
        />
        <p-button
          label="Guardar"
          size="small"
          icon="pi pi-check"
          (click)="onCreate()"
          [outlined]="true"
          severity="success"
          [disabled]="formGroup.invalid"
        />
      </footer>
    </form>
  </p-dialog>
</section>
