<main>
  <header class="pb-3">
    <h3 class="text-color-secondary">
      Seleccionar y asociar indicadores, categorías y criterios
    </h3>
  </header>
  <section class="flex flex-column">
    <form>
      <div>
        <p-dropdown
          (onChange)="onChangePreviousRecopilationSelection($event.value)"
          [options]="previousRecopilations"
          styleClass="w-4"
          optionLabel="name"
          optionValue="id"
          [showClear]="true"
          placeholder="Selecciona la recopilación"
        />
      </div>
      <main class="w-11">
        @for (scheme of schemes; track $index) {
          <p-panel
            expandIcon="pi pi-chevron-down"
            collapseIcon="pi pi-chevron-right"
            [toggleable]="true"
            collapsed="false"
            iconPos="start"
          >
            <ng-template pTemplate="header">
              <section
                class="flex flex-row justify-content-between align-items-center w-full gap-4"
              >
                <p>
                  {{ scheme.index }}. {{ scheme.name }} ({{ scheme.alias }})
                </p>
              </section>
            </ng-template>
            <ng-template pTemplate="icons">
              <p-checkbox
                (onChange)="
                  onChangeIndicatorCheckbox(scheme.index, $event.checked)
                "
                [ngModel]="isSelectedIndicator(scheme.index)"
                [ngModelOptions]="{ standalone: true }"
                [binary]="true"
              />
            </ng-template>
            @for (criteria of scheme.criterias; track $index) {
              <div class="flex">
                <p class="m-2 pb-3" style="max-width: 80vw">
                  <p-checkbox
                    (onChange)="
                      onChangeCriterionCheckbox(
                        scheme.index,
                        criteria.id,
                        $event.checked
                      )
                    "
                    [ngModel]="isCheckedCriterion(scheme.index, criteria.id)"
                    [ngModelOptions]="{ standalone: true }"
                    [disabled]="!isSelectedIndicator(scheme.index)"
                    [binary]="true"
                  />
                  {{ scheme.index }}.{{ criteria.id }} {{ criteria.name }} ({{
                    criteria.alias
                  }})
                </p>
                <p-dropdown
                  (onChange)="
                    onChangeCategorySelection(
                      scheme.index,
                      criteria.id,
                      $event.value
                    )
                  "
                  [ngModel]="getCategorySelection(scheme.index, criteria.id)"
                  [ngModelOptions]="{ standalone: true }"
                  [disabled]="
                    !isSelectedIndicator(scheme.index) ||
                    !isCheckedCriterion(scheme.index, criteria.id)
                  "
                  [options]="scheme.categories"
                  optionLabel="name"
                  optionValue="id"
                  placeholder="Selecciona una Categoría"
                />
              </div>
            }
          </p-panel>
        }
      </main>
    </form>
  </section>
  <footer class="flex justify-content-between pt-7">
    <p-button
      label="Atrás"
      styleClass="bg-primary border-primary"
      icon="pi pi-angle-left"
      iconPos="left"
      size="small"
      [outlined]="true"
      (click)="prevStep()"
    />
    <p-button
      label="Siguiente"
      styleClass="bg-primary border-primary"
      icon="pi pi-angle-right"
      iconPos="right"
      size="small"
      (click)="onSubmit()"
    />
  </footer>
</main>
