<main>
  <header class="flex">
    <h3 class="text-color-secondary">
      <i
        class="pi pi-info-circle"
        pTooltip="Haga click en los recuadros para recomendar categorías a los departamentos"
      ></i>
      Recomendación de categorías a departamentos
    </h3>
    <button
      type="button"
      class="open-big ml-1"
      (click)="showDialog()"
      pButton
      pTooltip="Abrir en ventana grande"
      severity="success"
      [disabled]="matrixData === undefined"
      icon="pi pi-external-link"
    ></button>
  </header>
  @if (matrixData) {
    <app-matrix
      [recopilationId]="recopilationId"
      [matrixData]="matrixData"
      [matrixScrollHeight]="'80vh'"
    />
  }
  <footer class="flex justify-content-between pt-7">
    <p-button
      label="Atrás"
      styleClass="bg-primary border-primary"
      icon="pi pi-angle-left"
      iconPos="left"
      size="small"
      [outlined]="true"
      (click)="prevStep()"
    />
    <p-button
      label="Siguiente"
      styleClass="bg-primary border-primary"
      icon="pi pi-angle-right"
      iconPos="right"
      size="small"
      (click)="submitAndContinue()"
    />
  </footer>
  <p-scrollTop icon="pi pi-chevron-up" />
</main>
@if (matrixData !== undefined) {
  <p-dialog
    header="
  {{ matrixData.name }}
  (Inicia:
  {{ parseDate(matrixData.startDate) }}
  - Termina:
  {{ parseDate(matrixData.departmentEndDate) }})
"
    [resizable]="false"
    [modal]="true"
    [maximizable]="true"
    appendTo="body"
    [(visible)]="dialogVisible"
    [draggable]="false"
    [closeOnEscape]="true"
    [style]="{ width: '80vw' }"
    [contentStyle]="{
      height: '80vh'
    }"
    (onMaximize)="onMaximize()"
  >
    <app-matrix
      [recopilationId]="recopilationId"
      [matrixData]="matrixData"
      [matrixScrollHeight]="dialogMatrixScrollHeight"
    ></app-matrix>
    <ng-template pTemplate="footer">
      <button
        type="button"
        pButton
        pRipple
        icon="pi pi-times"
        (click)="dialogVisible = false"
        label="Cerrar"
        class="p-button-text"
      ></button>
    </ng-template>
  </p-dialog>
}
