<main>
  <header>
    <h3 class="text-color-secondary">
      Recomendación de categorías a departamentos
      <i
        class="pi pi-info-circle"
        pTooltip="Haga click en los recuadros para recomendar categorías a los departamentos"
      ></i>
    </h3>
  </header>
  @if (matrixData) {
    <app-matrix
      [recopilationId]="recopilationId"
      [matrixData]="matrixData"
      [matrixScrollHeight]="'80vh'"
    />
  }
  <footer class="flex justify-content-between pt-7">
    <p-button
      label="Atrás"
      styleClass="bg-primary border-primary"
      icon="pi pi-angle-left"
      iconPos="left"
      size="small"
      [outlined]="true"
      (click)="prevStep()"
    />
    <p-button
      label="Siguiente"
      styleClass="bg-primary border-primary"
      icon="pi pi-angle-right"
      iconPos="right"
      size="small"
      (click)="submitAndContinue()"
    />
  </footer>
  <p-scrollTop icon="pi pi-chevron-up" />
</main>
