<div class="p-4">
  <h2>Matriz de Seguimiento</h2>
  <div class="pb-3">
    <p-dropdown
      [options]="recopilations"
      [(ngModel)]="selectedRecopilation"
      (onChange)="getMatrixData()"
      optionLabel="name"
      optionValue="id"
      placeholder="Selecciona una recopilación"
      [emptyMessage]="
        recopilations
          ? 'No hay recopilaciones activas disponibles'
          : 'Seleccione una recopilación'
      "
    />
    <button
      type="button"
      class="open-big"
      (click)="showDialog()"
      pButton
      pTooltip="Abrir en ventana grande"
      severity="success"
      [disabled]="matrixData === undefined"
      icon="pi pi-external-link"
    ></button>
  </div>
  @if (recopilations.length === 0) {
    <div
      class="flex flex-column justify-content-center align-items-center gap-2"
    >
      <img
        src="../../../assets/empty-recopilation.png"
        alt="empty-recopilation"
      />
      <i class="text-lg"
        ><strong
          >Aún no hay recopilaciones activas para seleccionar, crea una nueva
          recopilación</strong
        ></i
      >
    </div>
  }
  @if (recopilations.length >= 2 && selectedRecopilation == 0) {
    <div
      class="flex flex-column justify-content-center align-items-center gap-2"
    >
      <img
        src="../../../assets/select-recopilation.png"
        alt="empty-recopilation"
      />
      <i class="text-lg"><strong>Selecciona una recopilación activa</strong></i>
    </div>
  }

  @if (matrixData !== undefined) {
    <div class="flex flex-column gap-2">
      <h3>
        {{ matrixData.name }}
      </h3>
      <h4 class="m-0">
        Inicio: {{ parseDate(matrixData.startDate) }} - Cierre Departamental:
        {{ parseDate(matrixData.departmentEndDate) }} - Finalización:
        {{ parseDate(matrixData.endDate) }}
      </h4>
    </div>
  }

  <div class="matrix">
    <app-matrix
      [selectedRecopilation]="selectedRecopilation"
      [matrixData]="matrixData"
      [matrixScrollHeight]="'75vh'"
    ></app-matrix>
  </div>

  @if (matrixData !== undefined) {
    <p-dialog
      header="
    {{ matrixData.name }}
    (Inicia:
    {{ parseDate(matrixData.startDate) }}
    - Termina:
    {{ parseDate(matrixData.departmentEndDate) }})
  "
      [resizable]="false"
      [modal]="true"
      [maximizable]="true"
      appendTo="body"
      [(visible)]="dialogVisible"
      [draggable]="false"
      [closeOnEscape]="true"
      [style]="{ width: '80vw' }"
      [contentStyle]="{
        height: '80vh'
      }"
      (onMaximize)="onMaximize()"
    >
      <app-matrix
        [selectedRecopilation]="selectedRecopilation"
        [matrixData]="matrixData"
        [matrixScrollHeight]="dialogMatrixScrollHeight"
      ></app-matrix>
      <ng-template pTemplate="footer">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-times"
          (click)="dialogVisible = false"
          label="Cerrar"
          class="p-button-text"
        ></button>
      </ng-template>
    </p-dialog>
  }

  <p-scrollTop icon="pi pi-chevron-up" />
</div>
