<div class="p-4">
  @if (matrixData === undefined) {
    <h2>Matriz de Seguimiento</h2>
  } @else {
    <h2>
      Matriz de Seguimiento - {{ matrixData.name }}
      (Inicia:
      {{ parseDate(matrixData.startDate) }}
      - Termina:
      {{ parseDate(matrixData.departmentEndDate) }})
    </h2>
  }
  <p-dropdown
    [options]="recopilations"
    [(ngModel)]="selectedRecopilation"
    (onChange)="getMatrixData()"
    optionLabel="name"
    optionValue="id"
    placeholder="Selecciona una recopilación"
    [emptyMessage]="
      recopilations
        ? 'No hay recopilaciones activas disponibles'
        : 'Seleccione una recopilación'
    "
  />
  <button
    type="button"
    class="open-big"
    (click)="showDialog()"
    pButton
    pTooltip="Abrir en ventana grande"
    severity="success"
    [disabled]="matrixData === undefined"
    icon="pi pi-external-link"
  ></button>
  <div class="matrix">
    <app-matrix
      [selectedRecopilation]="selectedRecopilation"
      [matrixData]="matrixData"
      [matrixScrollHeight]="'75vh'"
    ></app-matrix>
  </div>
  @if (matrixData !== undefined && currentUser.type !== 'department') {
    <div class="max-h-[500px]">
      <p-panel
        expandIcon="pi pi-minus"
        collapseIcon="pi pi-plus"
        [toggleable]="true"
        collapsed="true"
        iconPos="start"
      >
        <ng-template pTemplate="header">
          <h2>Más información</h2>
        </ng-template>
        <h3>
          Cantidad de Actividades:
          {{ matrixData.departments[0].answers.length }}
        </h3>
        <p-table
          [value]="departmentsExtraInfo.departments"
          styleClass="p-datatable-striped"
        >
          <ng-template pTemplate="header">
            <tr>
              <th
                pTooltip="Departamentos que forman parte de la recopilación"
                tooltipPosition="bottom"
                pSortableColumn="name"
              >
                Departamentos <p-sortIcon field="name" />
              </th>
              <th
                pTooltip="Razón de Actividades Recomendadas Respondidas"
                tooltipPosition="bottom"
                pSortableColumn="recommendedAnswers"
              >
                Actividades Recomendadas Respondidas
                <p-sortIcon field="recommendedAnswers" />
              </th>
              <th
                pTooltip="Razón de Actividades Libres Respondidas"
                tooltipPosition="bottom"
                pSortableColumn="freeAnswers"
              >
                Actividades Libres Respondidas
                <p-sortIcon field="freeAnswers" />
              </th>
              <th
                pTooltip="Razón de Total de Actividades Respondidas, tanto Recomendadas como Libres"
                tooltipPosition="bottom"
                pSortableColumn="answers"
              >
                Total <p-sortIcon field="answers" />
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{ item.name }}</td>
              <td
                pTooltip="Catidad de Respuestas Recomendadas / Total de Actividades Recomendadas | Porcentaje de Respuestas Recomendadas"
                tooltipPosition="bottom"
              >
                {{
                  item.recommendedAnswers === 0 &&
                  item.recommendedQuantity === 0
                    ? 'N/A'
                    : item.recommendedAnswers +
                      '/' +
                      item.recommendedQuantity +
                      ' | ' +
                      (item.recommendedQuantity
                        ? (
                            (item.recommendedAnswers /
                              item.recommendedQuantity) *
                            100
                          ).toFixed(1)
                        : 0) +
                      '%'
                }}
              </td>
              <td
                pTooltip="Catidad de Respuestas Libres / Total de Actividades Libres | Porcentaje de Respuestas Libres"
                tooltipPosition="bottom"
              >
                {{
                  item.freeAnswers === 0 && item.freeQuantity === 0
                    ? 'N/A'
                    : item.freeAnswers +
                      '/' +
                      item.freeQuantity +
                      ' | ' +
                      (item.freeQuantity
                        ? (
                            (item.freeAnswers / item.freeQuantity) *
                            100
                          ).toFixed(1)
                        : 0) +
                      '%'
                }}
              </td>
              <td
                pTooltip="Catidad de Respuestas / Total de Respuestas | Porcentaje Total"
                tooltipPosition="bottom"
              >
                {{
                  item.answers +
                    '/' +
                    item.quantity +
                    ' | ' +
                    ((item.answers / item.quantity) * 100).toFixed(1)
                }}%
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td class="t-footer">Rendimiento</td>
              <td class="t-footer">
                {{
                  departmentsExtraInfo.totalRecommendedAnswers === 0 &&
                  departmentsExtraInfo.totalRecommendedQuantity === 0
                    ? 'N/A'
                    : departmentsExtraInfo.totalRecommendedAnswers +
                      '/' +
                      departmentsExtraInfo.totalRecommendedQuantity +
                      ' | ' +
                      (departmentsExtraInfo.totalRecommendedQuantity
                        ? (
                            (departmentsExtraInfo.totalRecommendedAnswers /
                              departmentsExtraInfo.totalRecommendedQuantity) *
                            100
                          ).toFixed(1)
                        : 0) +
                      '%'
                }}
              </td>
              <td class="t-footer">
                {{
                  departmentsExtraInfo.totalFreeAnswers === 0 &&
                  departmentsExtraInfo.totalFreeQuantity === 0
                    ? 'N/A'
                    : departmentsExtraInfo.totalFreeAnswers +
                      '/' +
                      departmentsExtraInfo.totalFreeQuantity +
                      ' | ' +
                      (departmentsExtraInfo.totalFreeQuantity
                        ? (
                            (departmentsExtraInfo.totalFreeAnswers /
                              departmentsExtraInfo.totalFreeQuantity) *
                            100
                          ).toFixed(1)
                        : 0) +
                      '%'
                }}
              </td>
              <td class="t-footer">
                {{ departmentsExtraInfo.totalAnswers }}/{{
                  departmentsExtraInfo.totalQuantity
                }}
                |
                {{
                  (
                    (departmentsExtraInfo.totalAnswers /
                      departmentsExtraInfo.totalQuantity) *
                    100
                  ).toFixed(1)
                }}%
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>
    </div>
  }

  @if (matrixData !== undefined) {
    <p-dialog
      header="
    {{ matrixData.name }}
    (Inicia:
    {{ parseDate(matrixData.startDate) }}
    - Termina:
    {{ parseDate(matrixData.departmentEndDate) }})
  "
      [resizable]="false"
      [modal]="true"
      [maximizable]="true"
      appendTo="body"
      [(visible)]="dialogVisible"
      [draggable]="false"
      [closeOnEscape]="true"
      [style]="{ width: '80vw' }"
      [contentStyle]="{
        height: '80vh'
      }"
      (onMaximize)="onMaximize()"
    >
      <app-matrix
        [selectedRecopilation]="selectedRecopilation"
        [matrixData]="matrixData"
        [matrixScrollHeight]="dialogMatrixScrollHeight"
      ></app-matrix>
      <ng-template pTemplate="footer">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-times"
          (click)="dialogVisible = false"
          label="Cerrar"
          class="p-button-text"
        ></button>
      </ng-template>
    </p-dialog>
  }
  <p-scrollTop icon="pi pi-chevron-up" />
</div>
