<div class="p-4">
  <header class="flex w-full justify-content-between align-items-center">
    <h2>Registro de Evidencias</h2>
    <p-dropdown
      [options]="recopilations"
      [(ngModel)]="selectedRecopilation"
      (onChange)="updateIndicators()"
      optionLabel="name"
      optionValue="id"
      placeholder="Seleccione una recopilación"
    />
  </header>
  <main class="">
    <header class="flex w-full justify-content-between align-items-center">
      <h3 class="text-2xl">Categorías</h3>
      @if (indicator != null) {
        <div
          class="flex flex-row flex-wrap gap-2"
          [style]="{
            'margin-right': 'auto',
            'margin-left': '1rem'
          }"
        >
          <p-button
            (click)="expandAll()"
            label="Expandir"
            icon="pi pi-chevron-down"
            [rounded]="true"
            severity="info"
            [outlined]="true"
            tooltipPosition="left"
            [style]="{
              padding: '10px'
            }"
          />
          <p-button
            (click)="collapseAll()"
            label="Colapsar"
            icon="pi pi-chevron-right"
            [rounded]="true"
            severity="info"
            [outlined]="true"
            tooltipPosition="left"
            [style]="{
              padding: '10px'
            }"
          />
        </div>
      }
      <p-dropdown
        [options]="indicators"
        [(ngModel)]="indicator"
        placeholder="Seleccione un indicador"
        optionLabel="alias"
        optionValue="index"
        (onChange)="updateCategoriesAndCriteria()"
        [emptyMessage]="
          selectedRecopilation
            ? 'No hay indicadores disponibles'
            : 'Seleccione una recopilación antes de seleccionar un indicador'
        "
      />
    </header>
    <div class="flex flex-column">
      @for (category of categoriesAndCriteria; track category.id) {
        <p-panel
          expandIcon="pi pi-chevron-down"
          collapseIcon="pi pi-chevron-right"
          toggler="icon"
          iconPos="start"
          toggleable
          collapsed
          (collapsedChange)="changed()"
        >
          <ng-template pTemplate="header">
            <app-records-category-header
              class="w-full"
              [recopilationId]="selectedRecopilation"
              [category]="category"
              [criteria]="category.criteria"
            />
          </ng-template>
          <app-records-category-body
            [recopilationId]="selectedRecopilation"
            [category]="category"
            [criteria]="category.criteria"
          />
        </p-panel>
      }
    </div>
  </main>
  <p-scrollTop icon="pi pi-chevron-up" />
</div>
