<div>
  <header>
    <h2>Registro de Evidencias</h2>
    <p-dropdown
      [options]="recopilations"
      [(ngModel)]="recopilation"
      placeholder="Seleccione una recopilación"
      optionLabel="name"
      (onChange)="updateIndicators()"
    />
  </header>
  <main>
    <header>
      <h3>Categorías</h3>
      <p-dropdown
        [options]="indicators"
        [(ngModel)]="indicator"
        placeholder="Seleccione un indicador"
        optionLabel="alias"
        (onChange)="updateCategoriesAndCriteria()"
      />
    </header>
    <p-accordion multiple="false">
      @for (category of categoriesAndCriteria; track category.id) {
        <p-accordionTab>
          <ng-template pTemplate="header">
            <header>
              <h2>{{ category.name }}</h2>
            </header>
          </ng-template>
          <app-records-category
            [recopilationId]="recopilation?.id"
            [categoryId]="category.id"
            [criteria]="category.criteria"
          />
        </p-accordionTab>
        <!-- <app-records-generic-card
          text="{{ category.name }}"
          (click)="goToCategoryRecord(category.id)"
        /> -->
      }
    </p-accordion>
    <!-- <section>
      <header>
        <h4>Categoría 1</h4>
      </header>
      <article (click)="goToCriterionRecord(1)">
        <p>Criterio 1</p>
      </article>
      <article>
        <p>Criterio 2</p>
      </article>
      <article>
        <p>Criterio 3</p>
      </article>
      <article>
        <p>Criterio 4</p>
      </article>
    </section>
    <section>
      <header>
        <h4>Categoría 2</h4>
      </header>
      <article>
        <p>Criterio 1</p>
      </article>
      <article>
        <p>Criterio 2</p>
      </article>
      <article>
        <p>Criterio 3</p>
      </article>
      <article>
        <p>Criterio 4</p>
      </article>
    </section>
    <section>
      <header>
        <h4>Categoría 3</h4>
      </header>
      <article>
        <p>Criterio 1</p>
      </article>
      <article>
        <p>Criterio 2</p>
      </article>
      <article>
        <p>Criterio 3</p>
      </article>
      <article>
        <p>Criterio 4</p>
      </article>
    </section> -->
  </main>
</div>
