<div
  class="loading container"
  [ngClass]="this.loadingService.isLoading() ? 'activate' : 'hidden'"
  role="progressbar"
>
  <div class="corners">
    <div class="bright-ucab-green">
      <div class="corner corner--1"></div>
    </div>
    <div class="bright-ucab-blue">
      <div class="corner corner--2"></div>
    </div>
    <div class="bright-ucab-yellow">
      <div class="corner corner--3"></div>
    </div>
    <div class="bright-green">
      <div class="corner corner--4"></div>
    </div>
  </div>
</div>
