<div
  class="loading"
  [ngClass]="this.loader.getLoading() ? '' : 'hidden'"
  role="progressbar"
>
  <div class="container">
    <div class="yellow-bright">
      <svg class="hive yellow-hive" viewBox="0 0 75 277">
        <path
          d="M32.5 0 L42 0 
                 L42 30 L75 81
                 L75 196 L42 247 L42 277 L33 277
                 L33 247 L0 196 L0 81 L33 30 L33 0"
        />
      </svg>
    </div>

    <div class="blue-bright">
      <svg class="hive blue-hive" viewBox="0 0 75 277">
        <path
          d="M32.5 0 L42 0 
                 L42 30 L75 81
                 L75 196 L42 247 L42 277 L33 277
                 L33 247 L0 196 L0 81 L33 30 L33 0"
        />
      </svg>
    </div>

    <div class="green-bright">
      <svg class="hive green-hive" viewBox="0 0 75 277">
        <path
          d="M32.5 0 L42 0 
                 L42 30 L75 81
                 L75 196 L42 247 L42 277 L33 277
                 L33 247 L0 196 L0 81 L33 30 L33 0"
        />
      </svg>
    </div>
  </div>
</div>
