<section class="mt-3 mb-5">
  <form [formGroup]="formGroup">
    <div class="flex flex-column gap-2 w-full">
      <label class="flex flex-column gap-2 w-full">
        Descripción
        <textarea
          pInputTextarea
          rows="5"
          cols="40"
          [autoResize]="true"
          formControlName="description"
          (input)="errorsUpdate('description')"
          (blur)="errorsUpdate('description')"
        ></textarea>
      </label>
      <small class="p-error">{{ errors.description }}</small>
    </div>
    <div class="flex flex-column gap-2 pt-4 w-full">
      <label class="flex flex-column gap-2 w-full">
        Link externo
        <input
          pInputText
          name="externalLink"
          class="w-full"
          type="text"
          formControlName="externalLink"
          (input)="errorsUpdate('externalLink')"
          (blur)="errorsUpdate('externalLink')"
        />
      </label>
      <small class="p-error">{{ errors.externalLink }}</small>
    </div>
  </form>
</section>
