<section class="mt-3 mb-5">
  <p-panel
    expandIcon="pi pi-chevron-down"
    collapseIcon="pi pi-chevron-right"
    [toggleable]="true"
    iconPos="start"
    styleClass="pb-3"
  >
    <ng-template pTemplate="header" class="p-0">
      <div
        class="flex flex-row justify-content-start align-items-center gap-4 w-full"
      >
        <h3 class="text-lg">Evidencia {{ index + 1 }}</h3>
        <div class="flex flex-row gap-2">
          <p-button
            (click)="!createdEvidence ? '' : enableForm()"
            pTooltip="Editar"
            icon="pi pi-pencil"
            [rounded]="true"
            severity="success"
            [outlined]="true"
            tooltipPosition="left"
            [disabled]="!(createdEvidence || editedEvience)"
          />
          <p-button
            (click)="!createdEvidence ? '' : onDelete()"
            [disabled]="!(createdEvidence || editedEvience)"
            pTooltip="Eliminar"
            icon="pi pi-trash"
            [rounded]="true"
            severity="danger"
            [outlined]="true"
            tooltipPosition="left"
          />
        </div>
      </div>
    </ng-template>
    <form [formGroup]="formGroup">
      <div class="flex flex-column gap-2 w-full">
        <label class="flex flex-column gap-2 w-full">
          Descripción
          <textarea
            pInputTextarea
            rows="5"
            cols="40"
            [autoResize]="true"
            formControlName="description"
            (input)="errorsUpdate('description')"
            (blur)="errorsUpdate('description')"
          ></textarea>
        </label>
        <small class="p-error">{{ errors.description }}</small>
      </div>
      <div class="flex flex-column gap-2 pt-4 w-full">
        <label class="flex flex-column gap-2 w-full">
          Link externo
          <input
            pInputText
            name="externalLink"
            class="w-full"
            type="text"
            formControlName="externalLink"
            (input)="errorsUpdate('externalLink')"
            (blur)="errorsUpdate('externalLink')"
          />
        </label>
        <small class="p-error">{{ errors.externalLink }}</small>
      </div>
    </form>
    <footer class="pt-3">
      @if (enableEdit) {
        <p-button
          label="Guardar"
          (click)="onEdit()"
          size="small"
          icon="pi pi-check"
          [outlined]="true"
          severity="success"
          [disabled]="formGroup.invalid || editedEvience"
        />
      } @else {
        <p-button
          label="Guardar"
          (click)="onCreate()"
          size="small"
          icon="pi pi-check"
          [outlined]="true"
          severity="success"
          [disabled]="formGroup.invalid || createdEvidence"
        />
      }
    </footer>
  </p-panel>
</section>
