<header>
  <p-button (onClick)="modalVisible = true">Generar Word</p-button>
  <app-word-generation-modal
    [(visible)]="modalVisible"
    [criteria]="criteria"
    [recopilationId]="recopilationId"
  />
</header>
<section>
  <header>
    <h3>Criterios asociados:</h3>
  </header>
  <!-- Change to list -->
  <div>
    @for (criterion of criteria?.slice(0, 3); track criterion.id) {
      <p>{{ criterion.alias }}</p>
    }
  </div>
  <p-panel [toggleable]="true" [toggler]="'header'" iconPos="start" collapsed>
    <ng-template pTemplate="header">
      <header>
        <span>Ver todos</span>
      </header>
    </ng-template>
    <div>
      @for (criterion of criteria; track criterion.id) {
        <p>{{ criterion.alias }}</p>
      }
    </div>
  </p-panel>
</section>
<section>
  @if (departmentAnswers?.length === 0) {
    <p>No hay respuestas para esta categoría</p>
  }
  @for (
    departmentAnswer of departmentAnswers;
    track departmentAnswer.department.id
  ) {
    <p-panel [toggleable]="true" toggler="header" iconPos="start" collapsed>
      <ng-template pTemplate="header">
        <header>
          <h3>{{ departmentAnswer.department.fullName }}</h3>
          <p>{{ departmentAnswer.department.email }}</p>
        </header>
      </ng-template>
      @for (
        collection of departmentAnswer.informationCollections;
        track collection.id
      ) {
        <section>
          <header>
            <h4>{{ collection.name }}</h4>
            <p>{{ collection.summary }}</p>
          </header>
          @for (evidence of collection.evidences; track evidence.id) {
            <article>
              <p>{{ evidence.description }}</p>
              <p>{{ evidence.externalLink }}</p>
              <p>{{ evidence.fileLink }}</p>
            </article>
          }
        </section>
      }
    </p-panel>
  }
  <!-- <header>
    <h3>Departamento 1</h3>
    <p>Bla bla bla</p>
  </header>
  <section>
    <header>
      <h4>Colección 1</h4>
      <p>Descripción de la colección 1</p>
    </header>
    <article>
      <img src="" alt="" />
      <p>Descripción de la evidencia 1</p>
      <p-button>Eliminar</p-button>
    </article>
    <article>
      <img src="" alt="" />
      <p>Descripción de la evidencia 2</p>
      <p-button>Eliminar</p-button>
    </article>
  </section>
  <section>
    <header>
      <h4>Colección 2</h4>
      <p>Descripción de la colección 2</p>
    </header>
    <article>
      <img src="" alt="" />
      <p>Descripción de la evidencia 1</p>
      <p-button>Eliminar</p-button>
    </article>
    <article>
      <img src="" alt="" />
      <p>Descripción de la evidencia 2</p>
      <p-button>Eliminar</p-button>
    </article>
  </section>
</section>
<section>
  <header>
    <h3>Departamento 2</h3>
    <p>Bla bla bla</p>
  </header>
  <section>
    <header>
      <h4>Colección 1</h4>
      <p>Descripción de la colección 1</p>
    </header>
    <article>
      <img src="" alt="" />
      <p>Descripción de la evidencia 1</p>
      <p-button>Eliminar</p-button>
    </article>
  </section>
</section>
<section>
  <header>
    <h3>Departamento 3</h3>
    <p>Bla bla bla</p>
  </header>
  <section>
    <header>
      <h4>Colección 1</h4>
      <p>Descripción de la colección 1</p>
    </header>
    <article>
      <img src="" alt="" />
      <p>Descripción de la evidencia 1</p>
      <p-button>Eliminar</p-button>
    </article>
    <article>
      <img src="" alt="" />
      <p>Descripción de la evidencia 2</p>
      <p-button>Eliminar</p-button>
    </article>
    <article>
      <img src="" alt="" />
      <p>Descripción de la evidencia 3</p>
      <p-button>Eliminar</p-button>
    </article>
  </section>
  <section>
    <header>
      <h4>Colección 2</h4>
      <p>Descripción de la colección 2</p>
    </header>
    <article>
      <img src="" alt="" />
      <p>Descripción de la evidencia 1</p>
      <p-button>Eliminar</p-button>
    </article>
  </section>
  <section>
    <header>
      <h4>Colección 3</h4>
      <p>Descripción de la colección 3</p>
    </header>
    <article>
      <img src="" alt="" />
      <p>Descripción de la evidencia 1</p>
      <p-button>Eliminar</p-button>
    </article>
    <article>
      <img src="" alt="" />
      <p>Descripción de la evidencia 2</p>
      <p-button>Eliminar</p-button>
    </article> -->
  <!-- </section> -->
</section>
