<main class="flex flex-column p-4 pb-0">
  <div [innerHTML]="message"></div>
  <p-confirmDialog />
  <header class="flex flex-row justify-content-between align-items-center pb-4">
    <h2>Departamentos</h2>
    <p-button
      (click)="showDialogCreate()"
      styleClass="bg-primary border-primary mr-4"
      label="Crear"
      icon="pi pi-plus"
      size="small"
    />
  </header>
  <section class="flex flex-column" *ngIf="!isFetchingDepartments">
    <p-table
      [value]="departments"
      dataKey="id"
      styleClass="w-full"
      [lazy]="true"
      (onLazyLoad)="loadPaginatedData($event)"
      [paginator]="true"
      [rows]="paginated.rows"
      [first]="paginated.first"
      [totalRecords]="totalRecords"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Correo Electrónico</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-department>
        <tr>
          <td>{{ department.fullName }}</td>
          <td>{{ department.email }}</td>
          <td>
            <div class="flex flex-row gap-3">
              <p-button
                (click)="
                  confirmationPasswordChange(
                    $event,
                    department.id,
                    department.fullName,
                    department
                  )
                "
                pTooltip="Cambiar contraseña"
                icon="pi pi-key"
                [rounded]="true"
                severity="info"
                [outlined]="true"
              />
              <p-button
                (click)="showDialogEdit(department)"
                pTooltip="Editar"
                icon="pi pi-pencil"
                [rounded]="true"
                severity="success"
                [outlined]="true"
              />
              <p-button
                (click)="
                  confirmationDelete($event, department.id, department.fullName)
                "
                pTooltip="Eliminar"
                icon="pi pi-trash"
                [rounded]="true"
                severity="danger"
                [outlined]="true"
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
  <section class="flex flex-column" *ngIf="isFetchingDepartments">
    <p-table [value]="skeletons" dataKey="id" styleClass="w-full">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Correo Electrónico</th>
          <th style="width: 1rem">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-skeleton>
        <tr>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td>
            <div
              class="flex flex-row justify-content-center align-items-center gap-3"
            >
              <p-skeleton shape="circle" size="3rem" />
              <p-skeleton shape="circle" size="3rem" />
              <p-skeleton shape="circle" size="3rem" />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
  <p-dialog
    header="Crear Departamento"
    [modal]="true"
    [(visible)]="visibleCreate"
    [draggable]="false"
    [resizable]="false"
    [style]="{ width: '25rem' }"
    (onHide)="closeDialog()"
  >
    <form [formGroup]="formGroup">
      <div class="flex flex-column gap-3">
        <div class="flex flex-column gap-2 w-full">
          <label class="flex flex-column gap-2 w-full">
            Nombre
            <input
              pInputText
              name="fullName"
              class="w-full"
              formControlName="fullName"
              (input)="errorsUpdate('fullName')"
              (blur)="errorsUpdate('fullName')"
            />
          </label>
          <small class="p-error">{{ errors.fullName }}</small>
        </div>
        <div class="flex flex-column gap-2 w-full">
          <label class="flex flex-column gap-2 w-full">
            Correo Electrónico
            <input
              pInputText
              name="email"
              class="w-full"
              type="email"
              formControlName="email"
              (input)="errorsUpdate('email')"
              (blur)="errorsUpdate('email')"
            />
          </label>
          <small class="p-error">{{ errors.email }}</small>
        </div>
      </div>
      <footer class="flex justify-content-end gap-2 mt-4">
        <p-button
          label="Cancelar"
          size="small"
          icon="pi pi-times"
          [outlined]="true"
          severity="danger"
          (click)="visibleCreate = false"
        />
        <p-button
          label="Guardar"
          size="small"
          icon="pi pi-check"
          (click)="onCreate()"
          [outlined]="true"
          severity="success"
          [disabled]="formGroup.invalid"
        />
      </footer>
    </form>
  </p-dialog>
  <p-dialog
    header="Editar Departamento"
    [modal]="true"
    [(visible)]="visibleEdit"
    [draggable]="false"
    [resizable]="false"
    (onHide)="closeDialog()"
    [style]="{ width: '25rem' }"
  >
    <form [formGroup]="formGroup">
      <div class="flex flex-column gap-3">
        <div class="flex flex-column gap-2 w-full">
          <label class="flex flex-column gap-2 w-full">
            Nombre
            <input
              pInputText
              name="fullName"
              class="w-full"
              formControlName="fullName"
              [value]="departmentEdit.fullName"
              (input)="errorsUpdate('fullName')"
              (blur)="errorsUpdate('fullName')"
            />
          </label>
          <small class="p-error">{{ errors.fullName }}</small>
        </div>
        <div class="flex flex-column gap-2 w-full">
          <label class="flex flex-column gap-2 w-full">
            Correo Electrónico
            <input
              pInputText
              name="email"
              class="w-full"
              type="email"
              formControlName="email"
              [value]="departmentEdit.email"
              (input)="errorsUpdate('email')"
              (blur)="errorsUpdate('email')"
            />
          </label>
          <small class="p-error">{{ errors.email }}</small>
        </div>
      </div>
      <footer class="flex justify-content-end gap-2 mt-4">
        <p-button
          label="Cancelar"
          size="small"
          icon="pi pi-times"
          [outlined]="true"
          severity="danger"
          (click)="visibleEdit = false"
        />
        <p-button
          (click)="onEdit()"
          label="Guardar"
          size="small"
          icon="pi pi-check"
          [outlined]="true"
          severity="success"
          [disabled]="formGroup.invalid"
          (click)="visibleEdit = false"
        />
      </footer>
    </form>
  </p-dialog>
  <p-dialog
    header="Datos inicio de sesión"
    [modal]="true"
    [(visible)]="visibleViewInformation"
    [draggable]="false"
    [resizable]="false"
    (onHide)="closeDialog()"
    [style]="{ width: '25rem' }"
  >
    <div
      class="flex flex-column justify-content-center align-items-start gap-2 mb-5"
    >
      <span class="text-base font-medium text-color-secondary">
        Departamento {{ department.fullName }}
      </span>
      <span class="text-base text-color-secondary">
        ¡Anota los datos! <strong>No podrás verlo de nuevo</strong>, pero se
        enviarán por correo al departamento.
      </span>
    </div>
    <section
      class="flex flex-column gap-4 justify-content-center align-items-start"
    >
      <div
        class="flex flex-column justify-content-center align-items-start gap-2"
      >
        <p class="text-base font-semibold text-color-secundary m-0">
          Correo Electrónico
        </p>
        <span class="p-0">{{ department.email }}</span>
      </div>
      <div
        class="flex flex-column justify-content-center align-items-start gap-2"
      >
        <p class="text-base font-semibold text-color-secundary m-0">
          Contraseña Autogenerada
        </p>
        <span class="p-0">{{ department.password }}</span>
      </div>
    </section>
    <footer class="flex justify-content-end mt-4">
      <p-button
        label="Aceptar"
        size="small"
        icon="pi pi-check"
        [outlined]="true"
        severity="success"
        (click)="visibleViewInformation = false"
      />
    </footer>
  </p-dialog>
</main>
