<main class="flex flex-column p-4">
  <div [innerHTML]="message"></div>
  <p-confirmDialog />
  <header class="flex flex-row justify-content-between align-items-center pb-4">
    <h2>Departamentos</h2>
    <p-button
      (click)="showDialogCreate()"
      styleClass="bg-primary border-primary mr-4"
      label="Crear"
      icon="pi pi-plus"
      size="small"
    />
  </header>
  <section class="flex flex-column" *ngIf="!isFetchingDepartments">
    <p-table [value]="departments" dataKey="id" styleClass="w-full">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Correo Electrónico</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-department>
        <tr>
          <td>{{ department.fullName }}</td>
          <td>{{ department.email }}</td>
          <td>
            <div class="flex flex-row gap-3">
              <p-button
                (click)="showDialogEdit(department)"
                icon="pi pi-pencil"
                [rounded]="true"
                severity="success"
                [outlined]="true"
              />
              <p-button
                (click)="
                  confirmationDelete($event, department.id, department.fullName)
                "
                icon="pi pi-trash"
                [rounded]="true"
                severity="danger"
                [outlined]="true"
              />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
  <section class="flex flex-column" *ngIf="isFetchingDepartments">
    <p-table [value]="skeletons" dataKey="id" styleClass="w-full">
      <ng-template pTemplate="header">
        <tr>
          <th>Nombre</th>
          <th>Correo Electrónico</th>
          <th style="width: 1rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-skeleton>
        <tr>
          <td><p-skeleton /></td>
          <td><p-skeleton /></td>
          <td>
            <div
              class="flex flex-row justify-content-center align-items-center gap-3"
            >
              <p-skeleton shape="circle" size="3rem" />
              <p-skeleton shape="circle" size="3rem" />
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
  <p-dialog
    header="Crear Departamento"
    [modal]="true"
    [(visible)]="visibleCreate"
    [draggable]="false"
    [resizable]="false"
    [style]="{ width: '25rem' }"
    (onHide)="closeDialogCreate()"
  >
    <form [formGroup]="departmentForm">
      <div>
        <label class="flex flex-column gap-2 w-full mb-3">
          Nombre
          <input
            pInputText
            name="fullName"
            class="w-full"
            type="text"
            formControlName="fullName"
          />
        </label>
      </div>
      <div class="w-full">
        <label class="flex flex-column gap-2 w-full mb-5">
          Correo Electrónico
          <input
            pInputText
            name="email"
            class="w-full"
            type="email"
            formControlName="email"
          />
        </label>
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancelar"
          size="small"
          icon="pi pi-times"
          [outlined]="true"
          severity="danger"
          (click)="visibleCreate = false"
        />
        <p-button
          label="Guardar"
          size="small"
          icon="pi pi-check"
          (click)="onCreate()"
          [outlined]="true"
          severity="success"
          disabled="false"
          (click)="visibleCreate = false"
        />
      </div>
    </form>
  </p-dialog>
  <p-dialog
    header="Editar Departamento"
    [modal]="true"
    [(visible)]="visibleEdit"
    [draggable]="false"
    [resizable]="false"
    [style]="{ width: '25rem' }"
  >
    <form [formGroup]="departmentForm">
      <div>
        <label class="flex flex-column gap-2 w-full mb-3">
          Nombre
          <input
            pInputText
            name="fullName"
            class="w-full"
            type="text"
            formControlName="fullName"
            [value]="departmentEdit.fullName"
            required
          />
        </label>
      </div>
      <div class="w-full">
        <label class="flex flex-column gap-2 w-full mb-5">
          Correo Electrónico
          <input
            pInputText
            name="email"
            class="w-full"
            type="email"
            formControlName="email"
            [value]="departmentEdit.email"
            required
          />
        </label>
      </div>
      <div class="flex justify-content-end gap-2">
        <p-button
          label="Cancelar"
          size="small"
          icon="pi pi-times"
          [outlined]="true"
          severity="danger"
          (click)="visibleEdit = false"
        />
        <p-button
          (click)="onEdit()"
          label="Guardar"
          size="small"
          icon="pi pi-check"
          [outlined]="true"
          severity="success"
          (click)="visibleEdit = false"
        />
      </div>
    </form>
  </p-dialog>
</main>
