.card {
  display: flex;
  flex-direction: column;
  width: 18rem;
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);

  h2 {
    margin: 0;
    font-size: 1rem;
    text-wrap: wrap;
    font-weight: 300;
    width: 50%;
  }

  h3 {
    margin: 0;
    margin-top: 0.75rem;
    font-size: 2rem;
    text-align: center;
  }
}
