<section class="h-full">
  <div class="flex flex-row gap-4 align-items-center">
    <h3 class="text-color-secondary text-xl">Evidencias</h3>
    <p-button
      (click)="
        isValidDepartmentalDate
          ? this.DataSharingEvidence.getLenghtEvidences() !== 0
            ? ''
            : addEvidence()
          : ''
      "
      [disabled]="
        !isValidDepartmentalDate
          ? true
          : this.DataSharingEvidence.getLenghtEvidences() !== 0
      "
      pTooltip="Agregar evidencia"
      icon="pi pi-plus"
      [rounded]="true"
      severity="info"
      [outlined]="true"
      tooltipPosition="right"
    />
  </div>
  @for (evidence of this.DataSharingEvidence.getEvidences(); track evidence) {
    <form
      [formGroup]="
        this.DataSharingEvidence.getFormGroupByEvidence(evidence - 1)
      "
    >
      <p-dropdown
        [options]="typesOfEvidence"
        optionLabel="name"
        placeholder="Selecciona un tipo de evidencia"
        formControlName="selectedType"
        [readonly]="disableSelect || !isValidDepartmentalDate"
      />
      @switch (
        this.DataSharingEvidence.getFormGroupByEvidence(evidence - 1).controls[
          'selectedType'
        ].value?.code ?? ''
      ) {
        @case ('image') {
          <evidence-image
            [informationCollectionId]="informationCollectionId"
            [index]="evidence - 1"
            (disableSelect)="changeDisableSelect($event)"
          />
        }
        @case ('link') {
          <evidence-link
            [informationCollectionId]="informationCollectionId"
            [index]="evidence - 1"
            (disableSelect)="changeDisableSelect($event)"
          />
        }
        @case ('document') {
          <evidence-document
            [informationCollectionId]="informationCollectionId"
            [index]="evidence - 1"
            (disableSelect)="changeDisableSelect($event)"
          />
        }
        @default {
          <p class="text-color-secundary">
            No hay un tipo de evidencia seleccionado
          </p>
        }
      }
    </form>
  }
</section>
