<section>
  <form [formGroup]="formGroup">
    <p-dropdown
      [options]="typesOfEvidence"
      optionLabel="name"
      placeholder="Selecciona un tipo de evidencia"
      formControlName="selectedType"
      [readonly]="readonly"
    />
    @switch (formGroup.controls.selectedType.value?.code ?? '') {
      @case ('image') {
        <evidence-image [informationCollectionId]="informationCollectionId" />
      }
      @case ('link') {
        <evidence-link [informationCollectionId]="informationCollectionId" />
      }
      @case ('document') {
        <evidence-document />
      }
      @default {
        <p>No hay un tipo de evidencia seleccionado</p>
      }
    }
  </form>
</section>
