.sidenav {
  /* reset button styles */
  button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  position: fixed;
  z-index: 1;
  top: 0;
  width: 5rem;
  height: 100vh;
  background-color: var(--background-color);
  border-right: 1.5px solid #e0e0e0;
  transition: all 0.5s ease;

  .logo-container {
    display: flex;
    align-items: center;
    padding: 1.5rem 0.938rem 0 0.938rem;
    width: 100%;

    .logo {
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
      background: -webkit-linear-gradient(var(--primary-color), #333);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .logo-text {
      margin-left: 1.5rem;
      font-size: 18px;
      font-weight: 700;
      text-wrap: nowrap;
    }
  }
}

.sidenav-collapsed {
  width: 16.5625rem;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  text-wrap: nowrap;

  .sidenav-nav-item:last-child {
    margin-top: auto;
  }

  .sidenav-nav-item {
    position: relative;
    width: 100%;
    margin-bottom: 0.625rem;

    button {
      width: 100%;
    }

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: black;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: color 0.3s ease;

      .sidenav-link-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .sidenav-link-text {
        margin-left: 1.5rem;
      }
    }
  }

  .sidenav-nav-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.8rem;
    transform: translateY(12.5%);
    height: 75%;
    width: 0;
    border-radius: 0;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
    border-radius: 0 10px 10px 0;
  }
  .sidenav-nav-item:hover::before {
    width: 0.3rem;
  }

  .sidenav-nav-item:hover {
    .sidenav-nav-link {
      color: var(--primary-color);
    }
  }
}

.active {
  .sidenav-link-icon,
  .sidenav-link-text {
    color: var(--primary-color);
  }

  .sidenav-nav-item::before {
    width: 0.3rem;
  }
}
