<section class="mb-1">
  <div class="flex flex-row align-items-start gap-2">
    @switch (notification.type) {
      @case ('recommendation') {
        @if (notification.seen) {
          <p-avatar
            [icon]="avatarStyles.recommendation.icon"
            styleClass="mr-2"
            size="large"
            [styleClass]="avatarStyles.recommendation.color"
            shape="circle"
          />
        } @else {
          <p-avatar
            [icon]="avatarStyles.recommendation.icon"
            size="large"
            [styleClass]="avatarStyles.recommendation.color"
            shape="circle"
            class="notification-avatar"
            pBadge
            [style]="{ overflow: 'visible' }"
            severity="danger"
          />
        }
        <div class="flex flex-column gap-1">
          <header>
            <p class="m-0">
              <strong>Nueva Recomendación </strong>·
              {{ getDuration(notification.createdAt) }}
            </p>
          </header>
          @if (this.userType === 'coordinator' || this.userType === 'admin') {
            <p class="text-700 m-0 font-semibold">
              {{ notification.data.departmentName }}
            </p>
          }
          <div>
            @if (notification.data.recommendationsQuantity === 1) {
              <div>
                <p class="m-0">
                  Nueva categoría recomendada en la recopilación
                  <a
                    (click)="redirectRecopilation(notification)"
                    style="cursor: pointer"
                  >
                    <strong class="text-blue-500">
                      {{ notification.data.recopilationName }}</strong
                    >
                  </a>
                </p>
              </div>
            } @else {
              <div>
                <p class="m-0">
                  Nuevas categorías recomendadas en la recopilación
                  <a
                    (click)="redirectRecopilation(notification)"
                    style="cursor: pointer"
                  >
                    <strong class="text-blue-500">
                      {{ notification.data.recopilationName }}</strong
                    >
                  </a>
                </p>
              </div>
            }
          </div>
        </div>
      }
      @case ('information_collection_creation') {
        @if (notification.seen) {
          <p-avatar
            [icon]="avatarStyles.informationCollectionCreation.icon"
            styleClass="mr-2"
            size="large"
            [styleClass]="avatarStyles.informationCollectionCreation.color"
            shape="circle"
          />
        } @else {
          <p-avatar
            [icon]="avatarStyles.informationCollectionCreation.icon"
            size="large"
            [styleClass]="avatarStyles.informationCollectionCreation.color"
            shape="circle"
            class="notification-avatar"
            pBadge
            [style]="{ overflow: 'visible' }"
            severity="danger"
          />
        }
        <div class="flex flex-column gap-1">
          <header>
            <p class="m-0">
              <strong>Nueva colección de información </strong>·
              {{ getDuration(notification.createdAt) }}
            </p>
          </header>
          @if (this.userType === 'coordinator' || this.userType === 'admin') {
            <p class="text-700 m-0 font-semibold">
              {{ notification.data.departmentName }}
            </p>
          }
          <div>
            <p class="m-0">
              En la categoría
              <a
                (click)="redirectCategory(notification)"
                style="cursor: pointer"
              >
                <strong class="text-blue-500">
                  {{ notification.data.categoryName }}</strong
                >
              </a>
              en la recopilación
              <a
                (click)="redirectRecopilation(notification)"
                style="cursor: pointer"
              >
                <strong class="text-blue-500">
                  {{ notification.data.recopilationName }}</strong
                >
              </a>
            </p>
          </div>
        </div>
      }
      @case ('information_collection_edition') {
        @if (notification.seen) {
          <p-avatar
            [icon]="avatarStyles.informationCollectionEdition.icon"
            styleClass="mr-2"
            size="large"
            [styleClass]="avatarStyles.informationCollectionEdition.color"
            shape="circle"
          />
        } @else {
          <p-avatar
            [icon]="avatarStyles.informationCollectionEdition.icon"
            size="large"
            [styleClass]="avatarStyles.informationCollectionEdition.color"
            shape="circle"
            class="notification-avatar"
            pBadge
            [style]="{ overflow: 'visible' }"
            severity="danger"
          />
        }
        <div class="flex flex-column gap-1">
          <header>
            <p class="m-0">
              <strong>Colección de información editada </strong>·
              {{ getDuration(notification.createdAt) }}
            </p>
          </header>
          @if (this.userType === 'coordinator' || this.userType === 'admin') {
            <p class="text-700 m-0 font-semibold">
              {{ notification.data.departmentName }}
            </p>
          }
          <div>
            <p class="m-0">
              En la categoría
              <a
                (click)="redirectCategory(notification)"
                style="cursor: pointer"
              >
                <strong class="text-blue-500">
                  {{ notification.data.categoryName }}</strong
                >
              </a>
              en la recopilación
              <a
                (click)="redirectRecopilation(notification)"
                style="cursor: pointer"
              >
                <strong class="text-blue-500">
                  {{ notification.data.recopilationName }}</strong
                >
              </a>
            </p>
          </div>
        </div>
      }
      @case ('evidence_creation') {
        @if (notification.seen) {
          <p-avatar
            [icon]="avatarStyles.evidenceCreation.icon"
            styleClass="mr-2"
            size="large"
            [styleClass]="avatarStyles.evidenceCreation.color"
            shape="circle"
          />
        } @else {
          <p-avatar
            [icon]="avatarStyles.evidenceCreation.icon"
            size="large"
            [styleClass]="avatarStyles.evidenceCreation.color"
            shape="circle"
            class="notification-avatar"
            pBadge
            [style]="{ overflow: 'visible' }"
            severity="danger"
          />
        }
        <div class="flex flex-column gap-1">
          <header>
            <p class="m-0">
              <strong>Nueva evidencia </strong>·
              {{ getDuration(notification.createdAt) }}
            </p>
          </header>
          @if (this.userType === 'coordinator' || this.userType === 'admin') {
            <p class="text-700 m-0 font-semibold">
              {{ notification.data.departmentName }}
            </p>
          }
          <div>
            <p class="m-0">
              En la categoría
              <a
                (click)="redirectCategory(notification)"
                style="cursor: pointer"
              >
                <strong class="text-blue-500">
                  {{ notification.data.categoryName }}</strong
                >
              </a>
              en la recopilación
              <a
                (click)="redirectRecopilation(notification)"
                style="cursor: pointer"
              >
                <strong class="text-blue-500">
                  {{ notification.data.recopilationName }}</strong
                >
              </a>
            </p>
          </div>
        </div>
      }
      @case ('evidence_edition') {
        @if (notification.seen) {
          <p-avatar
            [icon]="avatarStyles.evidenceEdition.icon"
            styleClass="mr-2"
            size="large"
            [styleClass]="avatarStyles.evidenceEdition.color"
            shape="circle"
          />
        } @else {
          <p-avatar
            [icon]="avatarStyles.evidenceEdition.icon"
            size="large"
            [styleClass]="avatarStyles.evidenceEdition.color"
            shape="circle"
            class="notification-avatar"
            pBadge
            [style]="{ overflow: 'visible' }"
            severity="danger"
          />
        }
        <div class="flex flex-column gap-1">
          <header>
            <p class="m-0">
              <strong>Evidencia Editada </strong>·
              {{ getDuration(notification.createdAt) }}
            </p>
          </header>
          @if (this.userType === 'coordinator' || this.userType === 'admin') {
            <p class="text-700 m-0 font-semibold">
              {{ notification.data.departmentName }}
            </p>
          }
          <div>
            <p class="m-0">
              En la categoría
              <a
                (click)="redirectCategory(notification)"
                style="cursor: pointer"
              >
                <strong class="text-blue-500">
                  {{ notification.data.categoryName }}</strong
                >
              </a>
              en la recopilación
              <a
                (click)="redirectRecopilation(notification)"
                style="cursor: pointer"
              >
                <strong class="text-blue-500">
                  {{ notification.data.recopilationName }}</strong
                >
              </a>
            </p>
          </div>
        </div>
      }
      @case ('evidence_error') {
        @if (notification.seen) {
          <p-avatar
            [icon]="avatarStyles.evidenceError.icon"
            styleClass="mr-2"
            size="large"
            [styleClass]="avatarStyles.evidenceError.color"
            shape="circle"
          />
        } @else {
          <p-avatar
            [icon]="avatarStyles.evidenceError.icon"
            size="large"
            [styleClass]="avatarStyles.evidenceError.color"
            shape="circle"
            class="notification-avatar"
            pBadge
            [style]="{ overflow: 'visible' }"
            severity="danger"
          />
        }
        <div class="flex flex-column gap-1">
          <header>
            <p class="m-0">
              <strong>Error en evidencia </strong>·
              {{ getDuration(notification.createdAt) }}
            </p>
          </header>
          @if (this.userType === 'coordinator' || this.userType === 'admin') {
            <p class="text-700 m-0 font-semibold">
              {{ notification.data.departmentName }}
            </p>
          }
          <div>
            <p class="m-0">
              En la categoría
              <a
                (click)="redirectCategory(notification)"
                style="cursor: pointer"
              >
                <strong class="text-blue-500">
                  {{ notification.data.categoryName }}</strong
                >
              </a>
              en la recopilación
              <a
                (click)="redirectRecopilation(notification)"
                style="cursor: pointer"
              >
                <strong class="text-blue-500">
                  {{ notification.data.recopilationName }}</strong
                >
              </a>
            </p>
          </div>
        </div>
      }
    }
  </div>
  <p-scrollTop icon="pi pi-chevron-up" />
</section>
