<section>
  <div class="flex flex-row align-items-start gap-3">
    <p-avatar
      label="IN"
      shape="circle"
      size="normal"
      [style]="{ 'background-color': '#00ad7c', 'color': '#ffffff' }"
    />
    <div class="flex flex-column align-items-start justify-content-start">
      <h3 class="m-0">Ingeniería Informática</h3>
      <p class="my-2">
        Agregó nueva evidencia en
        <strong class="text-blue-500">categoria 1 en el indicador 1</strong>
      </p>
      <i class="m-0 text-base">Hace 4 horas</i>
    </div>
  </div>
</section>
