<div class="p-4">
  <h2>Estadísticas</h2>
  <p-dropdown
    [options]="recopilations"
    [(ngModel)]="selectedRecopilation"
    (onChange)="getStats()"
    optionLabel="name"
    optionValue="id"
    placeholder="Selecciona una recopilación"
    [emptyMessage]="
      recopilations
        ? 'No hay recopilaciones activas disponibles'
        : 'Seleccione una recopilación'
    "
  />
  @if (stats) {
    <div class="container">
      <app-card title="Estatus de Recopilación">
        <span class="status-text">
          <h3>
            <i
              class="pi pi-circle-fill"
              [style]="'color:' + getMainTextStatus()[1]"
            ></i>
            {{ getMainTextStatus()[0] }}
          </h3>
        </span>
      </app-card>

      <app-card
        title="Categorías Evaluadas"
        [mainText]="stats.quantities.categories.toString()"
      />

      <app-card
        title="Departamentos Participando"
        [mainText]="stats.quantities.departments.toString()"
      />

      <app-card
        title="Completación de Categorías"
        [mainText]="
          stats.quantities.answers.toString() +
          ' de ' +
          (
            stats.quantities.categories * stats.quantities.departments
          ).toString()
        "
      >
        <p-progressBar
          [pTooltip]="
            'Completación de Categorías ' +
            getCompletionValue(
              stats.quantities.answers,
              stats.quantities.categories * stats.quantities.departments
            ) +
            '%'
          "
          color="var(--severity-success)"
          [value]="
            getCompletionValue(
              stats.quantities.answers,
              stats.quantities.categories * stats.quantities.departments
            )
          "
        />
      </app-card>

      @if (stats.mostAnswersCategory) {
        <app-card
          title="Categoría más respondida"
          [mainText]="stats.mostAnswersCategory.category.name"
        >
          <span class="span-text">
            ({{ stats.mostAnswersCategory.answersQuantity }}
            {{
              stats.mostAnswersCategory.answersQuantity === 1
                ? 'respuesta'
                : 'respuestas'
            }})
          </span>
        </app-card>
      } @else {
        <app-card title="Categoría más respondida" mainText="N/A" />
      }

      @if (stats.leastAnswersCategory) {
        <app-card
          title="Categoría menos respondida"
          [mainText]="stats.leastAnswersCategory.category.name"
        >
          <span class="span-text"
            >({{ stats.leastAnswersCategory.answersQuantity }}
            {{
              stats.leastAnswersCategory.answersQuantity === 1
                ? 'respuesta'
                : 'respuestas'
            }})
          </span>
        </app-card>
      } @else {
        <app-card title="Categoría menos respondida" mainText="N/A" />
      }

      @if (stats.mostErrorsCategory) {
        <app-card
          title="Categoría con más errores"
          [mainText]="stats.mostErrorsCategory.category.name"
        >
          <span class="span-text">
            ({{ stats.mostErrorsCategory.errorsQuantity }}
            {{
              stats.mostErrorsCategory.errorsQuantity === 1
                ? 'error'
                : 'errores'
            }}) ({{ stats.mostErrorsCategory.answersQuantity }}
            {{
              stats.mostErrorsCategory.answersQuantity === 1
                ? 'respuesta'
                : 'respuestas'
            }})
          </span>
        </app-card>
      } @else {
        <app-card title="Categoría con más errores" mainText="N/A" />
      }
    </div>

    <div class="container">
      <div class="ranking-container">
        <app-horizontal-bar [stats]="stats" />
      </div>
      <app-indicators-pie-chart [matrixData]="stats.matrix" />
      <div class="vertical-container">
        <app-card
          title="Colecciones de Información"
          [mainText]="stats.quantities.collections.toString()"
        />
        <app-card
          title="Evidencias Cargadas"
          [mainText]="
            (
              stats.quantities.evidences.images +
              stats.quantities.evidences.documents +
              stats.quantities.evidences.links
            ).toString()
          "
        />
      </div>
    </div>
    <app-departments-performance [matrixData]="stats.matrix" />
  } @else {
    <p>No hay estadísticas disponibles</p>
  }
  <p-scrollTop />
</div>
