<main class="flex flex-column p-4">
  <header class="flex flex-row justify-content-between align-items-center pb-4">
    <h2>Recopilaciones</h2>
    <div
      class="flex flex-row flex-wrap gap-2"
      [style]="{
        'margin-right': 'auto',
        'margin-left': '1rem'
      }"
    >
      <p-button
        (click)="expandAll()"
        label="Expandir"
        icon="pi pi-chevron-down"
        [rounded]="true"
        severity="info"
        [outlined]="true"
        tooltipPosition="left"
        [style]="{
          padding: '10px'
        }"
      />
      <p-button
        (click)="collapseAll()"
        label="Colapsar"
        icon="pi pi-chevron-right"
        [rounded]="true"
        severity="info"
        [outlined]="true"
        tooltipPosition="left"
        [style]="{
          padding: '10px'
        }"
      />
    </div>
    <p-button
      (click)="navigateStepsCreate()"
      styleClass="bg-primary border-primary mr-4"
      label="Crear"
      icon="pi pi-plus"
      size="small"
    />
  </header>
  <section class="flex flex-column">
    @if (inCreationRecopilations.length > 0) {
      <p-panel
        expandIcon="pi pi-chevron-down"
        collapseIcon="pi pi-chevron-right"
        [toggleable]="true"
        collapsed="false"
        iconPos="start"
        (collapsedChange)="changed()"
      >
        <ng-template pTemplate="header">
          <h3 class="text-xl">
            <i
              class="pi pi-circle-fill"
              style="color: var(--severity-info)"
            ></i>
            En Creación ({{ inCreationRecopilations.length }})
          </h3>
        </ng-template>
        @for (recopilation of inCreationRecopilations; track recopilation.id) {
          <app-recopilation-card [recopilation]="recopilation" />
        }
      </p-panel>
    }

    @if (activeRecopilations.length > 0) {
      <p-panel
        expandIcon="pi pi-chevron-down"
        collapseIcon="pi pi-chevron-right"
        [toggleable]="true"
        collapsed="false"
        iconPos="start"
        (collapsedChange)="changed()"
      >
        <ng-template pTemplate="header">
          <h3 class="text-xl">
            <i
              class="pi pi-circle-fill"
              style="color: var(--severity-danger)"
            ></i>
            En Periodo de Revisión ({{ onReviewRecopilations.length }})
          </h3>
        </ng-template>
        @for (recopilation of onReviewRecopilations; track recopilation.id) {
          <app-recopilation-card [recopilation]="recopilation" />
        }
      </p-panel>
    }

    @if (activeRecopilations.length > 0) {
      <p-panel
        expandIcon="pi pi-chevron-down"
        collapseIcon="pi pi-chevron-right"
        [toggleable]="true"
        collapsed="false"
        iconPos="start"
        (collapsedChange)="changed()"
      >
        <ng-template pTemplate="header">
          <h3 class="text-xl">
            <i
              class="pi pi-circle-fill"
              style="color: var(--severity-success)"
            ></i>
            Activas ({{ activeRecopilations.length }})
          </h3>
        </ng-template>
        @for (recopilation of activeRecopilations; track recopilation.id) {
          <app-recopilation-card [recopilation]="recopilation" />
        }
      </p-panel>
    }

    @if (upcomingRecopilations.length > 0) {
      <p-panel
        expandIcon="pi pi-chevron-down"
        collapseIcon="pi pi-chevron-right"
        [toggleable]="true"
        collapsed="false"
        iconPos="start"
        (collapsedChange)="changed()"
      >
        <ng-template pTemplate="header">
          <h3 class="text-xl">
            <i
              class="pi pi-circle-fill"
              style="color: var(--ucab-yellow-hex)"
            ></i>
            Próximas ({{ upcomingRecopilations.length }})
          </h3>
        </ng-template>
        @for (recopilation of upcomingRecopilations; track recopilation.id) {
          <app-recopilation-card [recopilation]="recopilation" />
        }
      </p-panel>
    }

    @if (finishedRecopilations.length > 0) {
      <p-panel
        expandIcon="pi pi-chevron-down"
        collapseIcon="pi pi-chevron-right"
        [toggleable]="true"
        collapsed="true"
        iconPos="start"
        (collapsedChange)="changed()"
      >
        <ng-template pTemplate="header">
          <h3 class="text-xl">
            <i class="pi pi-circle-fill" style="color: gray"></i> Finalizadas
            ({{ finishedRecopilations.length }})
          </h3>
        </ng-template>
        @for (recopilation of finishedRecopilations; track recopilation.id) {
          <app-recopilation-card [recopilation]="recopilation" />
        }
      </p-panel>
    }
  </section>
  <p-scrollTop icon="pi pi-chevron-up" />
</main>
<p-confirmDialog />
