<main class="flex flex-column p-4">
  <header class="flex flex-row justify-content-between align-items-center pb-4">
    <h2>Recopilaciones</h2>
    <div
      class="flex flex-row flex-wrap gap-2"
      [style]="{
        'margin-right': 'auto',
        'margin-left': '1rem'
      }"
    >
      @if (!showEmptyImage) {
        <p-button
          (click)="expandAll()"
          label="Expandir"
          icon="pi pi-chevron-down"
          [rounded]="true"
          severity="info"
          [outlined]="true"
          tooltipPosition="left"
          [style]="{
            padding: '10px'
          }"
        />
        <p-button
          (click)="collapseAll()"
          label="Colapsar"
          icon="pi pi-chevron-right"
          [rounded]="true"
          severity="info"
          [outlined]="true"
          tooltipPosition="left"
          [style]="{
            padding: '10px'
          }"
        />
      }
    </div>
    <p-button
      (click)="navigateStepsCreate()"
      styleClass="bg-primary border-primary mr-4"
      label="Crear"
      icon="pi pi-plus"
      size="small"
    />
  </header>
  <section class="flex flex-column">
    @if (showEmptyImage) {
      <div
        class="flex flex-column justify-content-center align-items-center gap-2"
      >
        <img
          src="../../../assets/empty-recopilation.png"
          alt="empty-recopilation"
        />
        <i class="text-lg"
          ><strong
            >No hay recopilaciones por ver, crea una nueva recopilación</strong
          ></i
        >
      </div>
    } @else {
      @if (recopilationsCategorized.inCreation.length > 0) {
        <p-panel
          expandIcon="pi pi-chevron-down"
          collapseIcon="pi pi-chevron-right"
          [toggleable]="true"
          collapsed="false"
          iconPos="start"
          (collapsedChange)="changed()"
        >
          <ng-template pTemplate="header">
            <h3 class="text-xl">
              <i
                class="pi pi-circle-fill"
                style="color: var(--severity-info)"
              ></i>
              En Creación ({{ recopilationsCategorized.inCreation.length }})
            </h3>
          </ng-template>
          @for (
            recopilation of recopilationsCategorized.inCreation;
            track recopilation.id
          ) {
            <app-recopilation-card
              [recopilation]="recopilation"
              (recopilationDeleter)="handleRecopilationDeleted($event)"
            />
          }
        </p-panel>
      }

      @if (recopilationsCategorized.onReview.length > 0) {
        <p-panel
          expandIcon="pi pi-chevron-down"
          collapseIcon="pi pi-chevron-right"
          [toggleable]="true"
          collapsed="false"
          iconPos="start"
          (collapsedChange)="changed()"
        >
          <ng-template pTemplate="header">
            <h3 class="text-xl">
              <i
                class="pi pi-circle-fill"
                style="color: var(--severity-danger)"
              ></i>
              En Revisión ({{ recopilationsCategorized.onReview.length }})
            </h3>
          </ng-template>
          @for (
            recopilation of recopilationsCategorized.onReview;
            track recopilation.id
          ) {
            <app-recopilation-card
              [recopilation]="recopilation"
              (recopilationDeleter)="handleRecopilationDeleted($event)"
            />
          }
        </p-panel>
      }

      @if (recopilationsCategorized.active.length > 0) {
        <p-panel
          expandIcon="pi pi-chevron-down"
          collapseIcon="pi pi-chevron-right"
          [toggleable]="true"
          collapsed="false"
          iconPos="start"
          (collapsedChange)="changed()"
        >
          <ng-template pTemplate="header">
            <h3 class="text-xl">
              <i
                class="pi pi-circle-fill"
                style="color: var(--severity-success)"
              ></i>
              Activas ({{ recopilationsCategorized.active.length }})
            </h3>
          </ng-template>
          @for (
            recopilation of recopilationsCategorized.active;
            track recopilation.id
          ) {
            <app-recopilation-card
              [recopilation]="recopilation"
              (recopilationDeleter)="handleRecopilationDeleted($event)"
            />
          }
        </p-panel>
      }

      @if (recopilationsCategorized.upcoming.length > 0) {
        <p-panel
          expandIcon="pi pi-chevron-down"
          collapseIcon="pi pi-chevron-right"
          [toggleable]="true"
          collapsed="false"
          iconPos="start"
          (collapsedChange)="changed()"
        >
          <ng-template pTemplate="header">
            <h3 class="text-xl">
              <i
                class="pi pi-circle-fill"
                style="color: var(--ucab-yellow-hex)"
              ></i>
              Próximas ({{ recopilationsCategorized.upcoming.length }})
            </h3>
          </ng-template>
          @for (
            recopilation of recopilationsCategorized.upcoming;
            track recopilation.id
          ) {
            <app-recopilation-card
              [recopilation]="recopilation"
              (recopilationDeleter)="handleRecopilationDeleted($event)"
            />
          }
        </p-panel>
      }

      @if (recopilationsCategorized.finished.length > 0) {
        <p-panel
          expandIcon="pi pi-chevron-down"
          collapseIcon="pi pi-chevron-right"
          [toggleable]="true"
          collapsed="true"
          iconPos="start"
          (collapsedChange)="changed()"
        >
          <ng-template pTemplate="header">
            <h3 class="text-xl">
              <i class="pi pi-circle-fill" style="color: gray"></i> Finalizadas
              ({{ recopilationsCategorized.finished.length }})
            </h3>
          </ng-template>
          @for (
            recopilation of recopilationsCategorized.finished;
            track recopilation.id
          ) {
            <app-recopilation-card
              [recopilation]="recopilation"
              (recopilationDeleter)="handleRecopilationDeleted($event)"
            />
          }
        </p-panel>
      }
    }
  </section>
  <p-scrollTop icon="pi pi-chevron-up" />
</main>
<p-confirmDialog />
