<main>
  <header class="pb-3">
    <h3 class="text-color-secondary">Información de una recopilación</h3>
  </header>
  <section class="flex">
    <form class="flex flex-column gap-4 w-6">
      <div class="flex flex-row flex-wrap gap-4">
        <div class="flex flex-column flex-grow-1 gap-3">
          <label class="flex flex-column gap-2 w-full">
            Nombre
            <input
              [required]="true"
              pInputText
              name="fullName"
              styleclass="w-full"
              type="text"
              formControlName="fullName"
          /></label>
          <div class="flex flex-column gap-2">
            <label class="flex flex-row align-items-center gap-2 w-full">
              Fecha Final
              <i
                pTooltip="Fecha final de esta recopilación"
                class="pi pi-question-circle text-color-secondary"
                style="font-size: 1.2rem"
              ></i>
            </label>
            <p-calendar
              styleClass="w-full"
              [iconDisplay]="'input'"
              [showIcon]="true"
              inputId="icondisplay"
              dateFormat="dd/mm/yy"
            />
          </div>
        </div>
        <div class="flex flex-column flex-grow-1 gap-3">
          <div class="flex flex-column gap-2">
            <label class="flex flex-row align-items-center gap-2 w-full">
              Fecha de Inicio
              <i
                pTooltip="Fecha de inicio para la subida de información por los departamentos"
                class="pi pi-question-circle text-color-secondary"
                style="font-size: 1.2rem"
              ></i>
            </label>
            <p-calendar
              styleClass="w-full"
              [iconDisplay]="'input'"
              [showIcon]="true"
              inputId="icondisplay"
              dateFormat="dd/mm/yy"
            />
          </div>
          <div class="flex flex-column gap-2">
            <label class="flex flex-row align-items-center gap-2 w-full">
              Fecha Final Departamental
              <i
                pTooltip="Fecha final de carga de información para los departamentos"
                class="pi pi-question-circle text-color-secondary"
                style="font-size: 1.2rem"
              ></i>
            </label>
            <p-calendar
              styleClass="w-full"
              [iconDisplay]="'input'"
              [showIcon]="true"
              inputId="icondisplay"
              dateFormat="dd/mm/yy"
            />
          </div>
        </div>
      </div>
      <div class="flex w-full">
        <label class="flex flex-column w-full gap-2 mb-5">
          Descripción
          <textarea
            rows="5"
            cols="40"
            pInputTextarea
            [required]="true"
          ></textarea>
        </label>
      </div>
    </form>
  </section>
  <footer class="flex justify-content-between pt-7">
    <p-button
      label="Cancelar"
      icon="pi pi-angle-left"
      iconPos="left"
      size="small"
      severity="danger"
      [outlined]="true"
      (click)="prevStep()"
    />
    <p-button
      label="Siguiente"
      styleClass="bg-primary border-primary"
      icon="pi pi-angle-right"
      iconPos="right"
      size="small"
      (click)="nextStep()"
    />
  </footer>
</main>
