th {
  text-align: center;
  border-right: 1px solid #e5e7eb;
}

td {
  padding: 0;
  border-right: 1px solid #e5e7eb;
  height: inherit;
  text-align: center;
}

tr {
  height: 1px;
}

.current-user {
  background-color: var(--gris-tirando-a-verde);
  font-weight: bold;
}
