@if (matrixData) {
  <p-table
    [value]="matrixData.departments"
    [scrollable]="true"
    [scrollHeight]="matrixScrollHeight"
    styleClass="p-datatable-striped"
  >
    <ng-template pTemplate="header">
      <tr>
        <th
          rowspan="2"
          pTooltip="Departamentos que forman parte de la recopilación"
          pFrozenColumn
        >
          Departamentos
        </th>
        @for (indicator of matrixData.indicators; track $index) {
          <th
            pTooltip="{{ indicator.helpText }}"
            tooltipPosition="bottom"
            [attr.colspan]="indicator.categories.length"
          >
            {{ indicator.alias }}
            @if (currentUser.type !== 'department') {
              <i
                class="pi pi-info-circle"
                [pTooltip]="getIndicatorTooltipStats(indicator.index)"
                tooltipPosition="top"
              ></i>
            }
          </th>
        }
      </tr>
      <tr>
        @for (indicator of matrixData.indicators; track $index) {
          @for (category of indicator.categories; track $index) {
            <th pTooltip="{{ category.helpText }}" tooltipPosition="bottom">
              {{ category.name }}
              @if (currentUser.type !== 'department') {
                <i
                  class="pi pi-info-circle"
                  [pTooltip]="getCategoryTooltipStats(category.id)"
                  tooltipPosition="top"
                ></i>
              }
            </th>
          }
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td
          pFrozenColumn
          style="padding-top: 15px; padding-bottom: 15px"
          [ngClass]="currentUser.id === row.department.id ? 'current-user' : ''"
        >
          {{ row.department.fullName }}
          @if (currentUser.type !== 'department') {
            <i
              class="pi pi-info-circle"
              [pTooltip]="getDepartmentTooltipStats(row.department.id)"
              tooltipPosition="right"
            ></i>
          }
        </td>
        @for (indicator of matrixData.indicators; track $index) {
          @for (category of indicator.categories; track $index) {
            <td>
              <custom-td
                [selectedRecopilation]="selectedRecopilation"
                [answer]="getAnswer(row.answers, category.id)"
                [departmentId]="row.department.id"
              ></custom-td>
            </td>
          }
        }
      </tr>
    </ng-template>
  </p-table>
}
